<div class="form-gap"></div>
<div class="container">
  <div class="row bg-dark">
      <div class="col-md-12 my-auto mt-5">
      <!-- form card login -->
      <div class="card1  card-block">
        <h2 class="text-white text-center font-weight-bold">TO-DO</h2>
      <div class="form-group px-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text" style="background-color:#5cb85c; color:#fff;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
            </div>
          </div>
          <input type="email" class="form-control input-lg email requiredField" [(ngModel)]="email" placeholder="Email address"
            required autofocus>
        </div>
      </div>
      <div class="form-group  px-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text" style="background-color:#5cb85c; color:#fff;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-unlock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 9.9-1"></path></svg>
            </div>
          </div>
          <input type="password" class="form-control input-lg password" name="password" (keydown)="sendUsingKeypress($event)"
            [(ngModel)]="password" placeholder="Password" required>
</div>
      </div>
      <div class="text-right small mr-3 mb-1"><a style="text-decoration: underline;color:#5cb85c;cursor: pointer;"
        (click)="goToForgetPAssword()">Forgot Your password?</a></div>
      <div class="form-group px-3">
        <button type="submit" class="btn btn-success btn-block signup-btn" (click)="signinFunction()">Login</button>
      </div>

      <div class="text-center text-white mt-3 p-3">Don't have an account? <a style="text-decoration: underline;color:#5cb85c;cursor: pointer;"
          (click)="goToSignUp()">Sign up</a></div>

    </div>

  </div>
</div>
</div>
